<?xml version="1.0" encoding="UTF-8"?>

<!-- 微信被动消息服务，这里值得强调的是：
weixin4j-serve本身是作为一个单独的服务来启动的，可以不依赖Spring容器，
但考虑到目前都是Spring mvc的架构，这里就需要使用一个独立的线程去启动服务，其实本身没有使用spring mvc的API，
以后会考虑支持servlet api去集成不同的web框架。 -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- 详见：com.foxinmy.weixin4j.example.server.Weixin4jServerStartupListener和web.xml配置 -->

	<!-- spring扫描加载消息处理类~start -->
	<context:component-scan base-package="com.foxinmy.weixin4j.example.server.handler" />
	<!-- spring扫描加载消息处理类~end -->
</beans>